<%- include('partials/header'); -%>
<div class="container pb-3">
    <h1 class="text-info text-center">HSA's Retro History</h1>
</div>


<div class="container"> 
    <div class="row"> 
        <div class="col-lg-6 mb-4"> 
            <div class="card"> 
                <img class="card-img-top" src="./imgs/hsaRetro_ 2020-12-11.png" alt="Card image cap"> 

                <div class="card-body"> 
                    <h5 class="card-title">Dec 11, 2020</h5> 
                    <p class="card-text"> 
                        We tried something a little new for retro, sailboat. Host: Dan 
                    </p> 

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Check It Out</button>

                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <img src="./imgs/hsaRetro_ 2020-12-11.png" class="img-fluid m-2" alt="Responsive image">
                          <h3 class="font-weight-bold">Action Items:</h3>
                          <ul>
                              <li>How much time should we spend helping support engineers? Guide them fo fine the answer instead of giving them the answer</li>
                              <li>Make estimates based on our sprint number</li>
                              <li>Define more SLOs for HSA space</li>
                              <li>Setup time with Sandra to discuss SEs & HSA space</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div> 
            </div> 
        </div> 

        <!-- <div class="col-lg-6 mb-4"> 
            <div class="card"> 
                <img class="card-img-top" src="./imgs/hsaRetro_ 2020-12-11.png" alt="Card image cap"> 

                <div class="card-body"> 
                    <h5 class="card-title">Dec 11, 2020</h5> 
                    <p class="card-text"> 
                        We tried something a little new for retro, sailboat. Host: Dan 
                    </p> 

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Check It Out</button>

                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <img src="./imgs/hsaRetro_ 2020-12-11.png" class="img-fluid m-2" alt="Responsive image">
                          <h3 class="font-weight-bold">Action Items:</h3>
                          <ul>
                              <li>How much time should we spend helping support engineers? Guide them fo fine the answer instead of giving them the answer</li>
                              <li>Make estimates based on our sprint number</li>
                              <li>Define more SLOs for HSA space</li>
                              <li>Setup time with Sandra to discuss SEs & HSA space</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div> 
            </div> 
        </div>  -->

    </div>
</div>
<%- include('partials/footer'); -%>
