<%- include('partials/header'); -%>

<div class="container text-center">
    <img src="https://img.icons8.com/ios/100/000000/h.png"/> 
    <img src="https://img.icons8.com/ios/100/000000/s.png"/>
    <img src="https://img.icons8.com/ios/100/000000/a.png"/>
</div>

<div class="container text-center">
    <img src="https://img.icons8.com/ios-filled/50/000000/r.png"/>
    <img src="https://img.icons8.com/ios-filled/50/000000/e.png"/>
    <img src="https://img.icons8.com/ios-filled/50/000000/t.png"/>
    <img src="https://img.icons8.com/ios-filled/50/000000/r.png"/>
    <img src="https://img.icons8.com/ios-filled/50/000000/o.png"/>
</div>

<div class="container">
    <div class="text-secondary text-center">
        <h1 >Who Runs HSA Retro?</h1>
        <h3 id="h3">[==================]</h3>
        <button id="buttonCall" type="button" class="btn btn-dark">Retro Button</button>
        <button id="reset" type="button" class="btn btn-danger buttonS mt-3">Reset</button>
    </div>
</div>


<!-- <button onClick="randomNumGen()" class="buttonS">Who Button?</button> -->
<br>

<%- include('partials/footer'); -%>
